
.backgroundImage {
    background-image: 
        linear-gradient(rgba(1, 116, 20, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1650661926447-9efb2610f64c?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}